<header class="site-header" role="banner">

<div class="wrapper">
  <img class="logo-float-left" alt="" src="{{ site.url }}/images/logo_big.png" />  
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <span><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></span>
</div>

<script>
$(document).ready(function() {
  // Assign the 'active' class for currently viewed page 
  var pathname = window.location.pathname;
  // Top level nav bar item
  $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
  // Nav bar drop down item - must be linked to with the "/" prefix (e.g. /elements-code-tutorial/) in the menu html above
  $('.nav > li > ul> li > a[href="'+pathname+'"]').parent().parent().parent().addClass('active');  
  // Nav bar drop down sub item
  $('.nav > li > ul> li > a[href="'+pathname+'"]').parent().addClass('active');
})
</script>

</header>
